<h1>Inbox</h1>

<% if @inmails.count > 0 %>
    <% @inmails.each do |inmail| %>
        <blockquote>
          <small><%= inmail.from %></small>
          <small><%= inmail.subject %></small>
          <p><%= inmail.body %></p>
        </blockquote>
    <% end %>
<% else %>
    <p><em>your mailbox is empty</em></p>
<% end %>