<h1>Inobox</h1>

<% if @inmails.count > 0 %>
    <% @inmails.each do |inmail| %>
        <blockquote>
          <p><%= inmail.body %></p>
          <small><%= inmail.email %></small>
        </blockquote>
    <% end %>
<% else %>
    <p><em>Oops, you're mailbox is empty</em></p>
<% end %>